
{% extends "body.html" %}

{% block content_wrapper %}

<div class="col-sm-12 QRM_box {{QRM_color}}">
    <p style="font-size:30px;color:white;"><strong>Pulsa en cualquier elemento multimedia para añadirlo<strong></p>
	<div class="QRM_box_in">
		<div class="QRM_wrapper_table">
			<table class="table table-hover ">
				<thead>
					<tr>
						<th>#</th>
						<th>Imagen</th>
						<th>Nombre</th>
						<th>Audio</th>	
						<th>Eliminar</th>						

			    	</tr>
				</thead>
				<tbody>
					{% for son in object_list %}

						<tr onclick="document.location = '{% url 'add_multimedia_to_player_function' player_id son.id_contenido %}';">
		      				<th scope="row" style="width: 3%;">{{son.id_contenido}}</th>
		      				<td style="width: 10%;"><img src="/{{ son.multimedia.imagen.url }}" style="width: 100px;"></td>
		      				<td style="width: 10%;">{{ son.multimedia.nombre}}</td>
		      				<td style="width: 60%;">
		      					{% if son.file %}
		      					<audio controls style="width: 100%;">
									<source src="/{{ i.file.url }}" type="audio/mp3">
							    	Su navegador no soporta este fichero de audio
								</audio>
								{% endif %}
							</td>
							<td>
								<form action="{% url 'multimedia_delete' son.id_contenido %}" method="post">
									{% csrf_token %}
										<input type="hidden" name="son_id" value="{{ son.id_contenido }}"/>
										<button type="submit" class="btn btn-danger btn-sm">
											<p>✖</p>
										</button>
								</form>
							</td>							
		    			</tr>

					{% endfor %}

				</tbody>
			</table>
		</div>

	</div>
</div>

{% endblock content_wrapper %}
