
{% extends "body.html" %}

{% block content_wrapper %}
<div class="col-sm-12 QRM_box {{QRM_color}}">
<ul>
  <strong>
  <li><a href="{% url 'settings' %}">Menú Principal</a></li>
  <li><a><i class="glyphicon glyphicon-arrow-right" ></i></a></li>
  <li><a href="{% url 'activity_settings' %}">Actividad</a></li>
  <li><a><i class="glyphicon glyphicon-arrow-right" ></i></a></li>
  <li><a href="{% url 'game_settings' %}">Opciones-Actividades</a></li>
  <li><a><i class="glyphicon glyphicon-arrow-right" ></i></a></li>
  <li><a class="active" href="{% url 'categories_list' %}">Lista Categorías</a></li>
</strong>
</ul>
	<div class="QRM_box_in">
		<a href="{% url 'create_category' %}">
			<div class="btn btn-sm btn-info">
				<p>Añadir nueva categoría</p>
			</div>	
		</a>
<a href="{% url 'add_category_player' %}">
			<div class="btn btn-sm btn-info">
				<p>Vincular categoría con actividad</p>
			</div>	
		</a>
		<div class="QRM_wrapper_table">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nombre</th>	
						<th>Eliminar</th>						
			    	</tr>
				</thead>
				<tbody>
					{% for object in object_list %}
						<tr onclick="document.location = '{% url 'update_category' object.id_categoria %}';">

		      				<td style="width: 20%; vertical-align: middle;">
		      					{{ object }}  					
                            </td>

							<td style=" vertical-align: middle;">
								<form action="{% url 'category_delete' object.id_categoria %}" method="post">
									{% csrf_token %}

										<input type="hidden" name="object_id" value="{{ object.id_categoria }}"/>
										<button type="submit" class="btn btn-danger btn-sm">
											<p>✖</p>
										</button>

								</form>
							</td>	

		    			</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<a href="{% url 'create_category' %}">
			<div class="btn btn-sm btn-info">
				<p>Añadir nueva categoria</p>
			</div>	
		</a>
<a href="{% url 'add_category_player' %}">
			<div class="btn btn-sm btn-info">
				<p>Vincular categoria con actividad</p>
			</div>	
		</a>
	</div>
</div>

<script>
function  toggle_select(id) {
    var object = document.getElementById(id);
 	object.enabled = !object.enabled;
}	

</script>

{% endblock content_wrapper %}
