
{% extends "body.html" %}

{% block content_wrapper %}
<a href="{% url 'game_settings' %}">
	<div>
		<strong><button class="buttonback" style="width: 100%;font-size:x-large;">Back</button></strong>
	</div>
</a>
<div class="col-sm-12 QRM_box {{QRM_color}}">
<ul>
  <strong><li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'settings' %}">Settings</a></li>
  <li><a href="{% url 'activity_settings' %}">Activity Settings</a></li>
  <li><a href="{% url 'game_settings' %}">Game Settings</a></li>
  <li><a class="active" href="{% url 'categories_list' %}">Category List</a></li>
</strong>
</ul>
	<div class="QRM_box_in">
		<div class="QRM_wrapper_table">

			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>	
						<th>Delete</th>						
			    	</tr>
				</thead>
				<tbody>
					{% for object in object_list %}
						<tr onclick="document.location = '{% url 'update_category' object.id_category %}';">

		      				<td style="width: 20%; vertical-align: middle;">
		      					{{ object.category }}  					
                            </td>

							<td style=" vertical-align: middle;">
								<form action="{% url 'category_delete' object.id_category %}" method="post">
									{% csrf_token %}

										<input type="hidden" name="object_id" value="{{ object.id_category }}"/>
										<button type="submit" class="btn btn-danger btn-sm">
											<p>✖</p>
										</button>

								</form>
							</td>	

		    			</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<a href="{% url 'create_category' %}">
			<div class="btn btn-sm btn-default">
				<p>Add new Category</p>
			</div>	
		</a>
<a href="{% url 'add_category_player' %}">
			<div class="btn btn-sm btn-default">
				<p>Add Category to an Activity</p>
			</div>	
		</a>
	</div>
</div>

<script>
function  toggle_select(id) {
    var object = document.getElementById(id);
 	object.enabled = !object.enabled;
}	

</script>

{% include "message.html" %}

{% endblock content_wrapper %}
