
{% extends "body.html" %}

{% block content_wrapper %}

<div class="container-fluid">
	<div class="row">

		<div class="jumbotron {{ QRM_color }}">
			<center>
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
				    {{ form.as_p }}
                    <strong><p>Añadir indicadores (Opcional):</p></strong>
				    {{ form1.as_p }}
                    <strong><p>Vincular con una terapia (Opcional):</p></strong>
	                {{ form2.as_p }}
				    <input type="submit" value="Confirmar" class="btn btn-sm btn-success"/>
				</form>
			</center>
		</div>

{% endblock content_wrapper %}
