
{% extends "body.html" %}

{% block content_wrapper %}

<div class="col-sm-12 QRM_box {{QRM_color}}">
	<div class="QRM_box_in">
		<div style='text-align:center; margin: 0 auto; width: 90%'>

            {% if player.online == "yes" %}

			    <a href="{% url 'play' %}">
				    <div class="QRM_btn QRM_btn_home">
					    <img class="QRM_btn_image" src="/files/static/game.png" >
					    <h5>Play</h5>
				    </div>
			    </a>

    	        <a href="{% url 'disconnect' player.id %}">
			        <div class="QRM_btn QRM_btn_home">
				        <img class="QRM_btn_image" src="/files/static/disconnect.png" >
				        <h5>Disconnect {{ player.name }}</h5>
			        </div>
		        </a>

                {% else %}

			        <a href="{% url 'identify' %}" id="myBtn" onclick="myFunction()">
				        <div class="QRM_btn QRM_btn_home">
					        <img class="QRM_btn_image" src="/files/static/rfid.png" >
					        <h5>Identify Player</h5>
				        </div>
			        </a>
                {% endif %}
      
			{% if user.is_authenticated %}
				<a href="{% url 'settings' %}">
					<div class="QRM_btn QRM_btn_home">
						<img class="QRM_btn_image" src="/files/static/setting.png">
						<h5>Settings</h5>
					</div>
				</a>
			{% endif %}

		</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>SCANNING...</h1>
    <div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
    <h2>Put the brazalet on the scanner</h2>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

	</div>
</div>

{% include "message.html" %}

{% endblock content_wrapper %}
