
{% extends "body.html" %}

{% block content_wrapper %}

<div class="col-sm-12 QRM_box {{QRM_color}}">
<ul>
  <strong><li>
  <li><a href="{% url 'settings' %}">Menú Principal</a></li>
  <li><a><i class="glyphicon glyphicon-arrow-right" ></i></a></li>
  <li><a href="{% url 'activity_settings' %}">Actividades</a></li>
  <li><a><i class="glyphicon glyphicon-arrow-right" ></i></a></li>
  <li><a class="active" href="{% url 'indicators_list' %}">Lista de Indicadores</a></li>
</strong>
</ul>
<strong><big style="color:white">Pulsa sobre la activdad para añadir/eliminar indicadores vinculados</big></strong>
	<div class="QRM_box_in">
		<div class="QRM_wrapper_table">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Actividad</th>
						<th>Indicadores</th>
			    	</tr>
				</thead>
				<tbody>
                        {% for i in Activities %}
						<tr onclick="document.location = '{% url 'update_indicator' i.id %}';">
		      				<td scope="row" style="width: 15%;">{{ i }}</td>
		      				<td style="width: 40%;">
                                {% for son in i.indicador.all %}
                                    {{ son }},
                                {% endfor %}
                            </td>						
		    			</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>SCANNING...</h1>
    <div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
    <h2>Put the card on the scanner</h2>
  </div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
//var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
function btn() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

	</div>
</div>

{% endblock content_wrapper %}
