{% extends "body.html" %}

{% block content_wrapper %}

<div style='text-align:center; margin: 0 auto; width: 90%'>

    <h1 class="page-header">Login to QRMusical by Teo</h1>

    <div class="jumbotron">
        <h2 class="form-signin-heading">Please, identify yourself</h2>

        <form id="login_form" method="post" action="/login/" class="form-signin">
            {% csrf_token %}
            <p style="color: #333 !important;">User:</p><input class="form-control" placeholder="Nombre de usuario" type="text" name="username" value="" size="50" required autofocus=""/>
            <br />
            <p style="color: #333 !important;">Password:</p> <input class="form-control" placeholder="Password" type="password" name="password" value="" size="50" />
            <br />

            <input class="btn btn-primary" type="submit" value="Enviar" />
        </form>
    </div>

</div>

{% include "message.html" %}

{% endblock content_wrapper %}