{% load staticfiles %}

<div id="auto" >

	<div class="col-sm-12 QRM_box QRM_pink">
		<div class="QRM_box_in">

			<div style="width:200; overflow: hidden">

			{% if image %}
				<img src="{{ image }}" width="200">
			{% else %}
				<img src="/files/static/interrogation.png">
			{% endif %}
			</div>	
		</div>
	</div>
	
	
	<div class="col-sm-12 QRM_box alert {{ alert }}">
		<p>
			<strong>
				{% if message_alert == 'alert-info' %}
					Info. 
				{% elif message_alert == 'alert-success' %}
					Succes!.
				{% elif message_alert == 'alert-danger' %}
					Error!.
				{% endif %}
			</strong>
			{% if message_alert == 'alert-danger' %}
				The QR code "{{ message }}" does not exist.
			{% else %}
				{{ message }}
			{% endif %}
		</p>
	</div>
	
</div>

<!--
<script src="{% static 'js/jquery.min.js' %}"></script>	
<script type="text/javascript">
	
    function update_message_home(){
        $('#auto').load('{% url 'message' %} #auto');
    }
    setInterval( "update_message_home()", 2000 );
    
</script>
-->