
{% extends "body.html" %}

{% block content_wrapper %}

<div class="container-fluid">
	<div class="row">
		<h1>{{ object.title }}</h1>
        <h2>{{ object.subtitle }}</h2>

		<div class="col-sm-12 QRM_box {{ QRM_color }}">
			<div class="QRM_box_in">
				{% if object.file %}
					<a target="_blank" href="/{{ object.file.url }}" style="display: inherit; margin-top: 10px; font-size: 20px;">{{ object.name }}</a> 
				{% else %}
					<a target="_blank" href="/{{ object.image.url }}" style="display: inherit; margin-top: 10px; font-size: 20px;">{{ object.name }}</a> 
				{% endif %}
				<img src="/files/temp/img_QR.jpg" style="margin: 10px; width: 400px;">
				<p>Tipo de Archivo: {{ object.filetype }}</p>
<!--
				{% if object.file %}
					<p>Url file: {{ object.file.url }}</p>
				{% else %}
					<p>Url image: {{ object.image.url }}</p>
				{% endif %}
-->				
				<a href="/files/temp/img_QR.jpg" download="{{ object.name }}">
					<div class="btn btn-sm btn-default">
						<p>Descarga QR</p>
					</div>	
				</a>
			</div>
		</div>
	</div>
</div>

{% endblock content_wrapper %}
