
{% extends "body.html" %}

{% block content_wrapper %}

<div class="col-sm-12 QRM_box {{QRM_color}}">
  <p style="font-size:30px;color:white;">Selecciona una Actividad</p>
	<div class="QRM_box_in">
<p align="left"style="font-size:20px;color:white;">{%for i in content %}Tratamiento: {{ i.tratamiento }}{%endfor%}</p>
		<div style='text-align:center; margin: 0 auto; width: 90%'>
{% if skip == 1%}

<a>
                    <div class="QRM_btn QRM_btn_home">
					<img class="QRM_btn_image" src="/files/static/error.png">
					<h5>No hay actividades disponibles</h5>
				</div>
</a>

{% endif %}
{% for i in content%}
{% for j in i.terapia.all %}
{% for object in therapy_p %}
{% if j.id == object.terapia.id %}
            <a href="{% url 'match_game' object.actividad.id %}">
				<div class="QRM_btn QRM_btn_home">
					<img class="QRM_btn_image" src="/files/static/game_match.png">
					<h5>{{ object.actividad }}</h5>
				</div>
			</a>
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
		</div>
	</div>
</div>

{% endblock content_wrapper %}
