
{% extends "body.html" %}

{% block content_wrapper %}
<a href="{% url 'home' %}">
	<div>
        <button type="button" class="btn btn-info btn-circle btn-xl"><i class="glyphicon glyphicon-circle-arrow-left" style="font-size:60px"></i></button>
	</div>
</a>
<div class="col-sm-12 QRM_box {{QRM_color}}">
	<div class="QRM_box_in">
		<div style='text-align:center; margin: 0 auto; width: 90%'>

{% if skip == 1%}

<a>
                    <div class="QRM_btn QRM_btn_home">
					<img class="QRM_btn_image" src="/files/static/error.png">
					<h5>No activities enabled</h5>
				</div>
</a>

{% endif %}
{% for obj in mult %}
			<a href="{% url 'songs_list' %}">
				<div class="QRM_btn QRM_btn_home">
					<img class="QRM_btn_image" src="/files/static/player.png">
					<h5>Interactive player {{ obj.content.multimedia.name }}</h5>
				</div>
			</a>
{% endfor %}
{% for i in kk%}
{% for object in therapy_p %}
{% if i.id == object.therapy.id %}
            <a href="{% url 'match_game' object.player.id %}">
				<div class="QRM_btn QRM_btn_home">
					<img class="QRM_btn_image" src="/files/static/game_match.png">
					<h5>{{ object.therapy }}</h5>
				</div>
			</a>
{% endif %}
{% endfor %}
{% endfor %}
		</div>
	</div>
</div>

{% include "message.html" %}

{% endblock content_wrapper %}
