
{% extends "body.html" %}

{% block content_wrapper %}

<div class="container-fluid">
	<div class="row">
<ul>
  <strong><li>
  <li><a href="{% url 'settings' %}">Menú Principal</a></li>
  <li><a><i class="glyphicon glyphicon-arrow-right" ></i></a></li>
  <li><a href="{% url 'activity_settings' %}">Actividad</a></li>
  <li><a><i class="glyphicon glyphicon-arrow-right" ></i></a></li>
  <li><a href="{% url 'game_settings' %}">Opciones-Actividades</a></li>
  <li><a><i class="glyphicon glyphicon-arrow-right" ></i></a></li>
  <li><a href="{% url 'players_list' %}">Lista Actividades</a></li>
  <li><a><i class="glyphicon glyphicon-arrow-right" ></i></a></li>
  <li><a class="active" href="{% url 'players_list' %}">Editar Actividad</a></li>
</strong>
</ul>

		<div class="jumbotron {{ QRM_color }}">
			<center>
                <p style="font-size:30px;color:white;">Detalles de la actividad</p>
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
				    {{ form.as_p }}
                    <p style="font-size:30px;">Lista de indicadores activos:</p>
                    {% for i in object.indicador.all %}
                    <input type="checkbox" disabled checked name="i.indicator" value="i.id_indicator">{{i}}
                    {% endfor %}
                    {{form1.as_p}}
                    <br><br>
                    <p style="font-size:30px;">Lista de terapias asociadas:</p>
                    {% for i in therapy %}
                    <a style="font-size:20px;">{{i.terapia}},</a>
                    {% endfor %}
                    {{form2.as_p}}
                    <br><br>
				    <input type="submit" value="Confirmar" style="font-size:20px;" class="btn btn-sm btn-success"/>
				</form>
			</center>
		</div>

		{% if object.id %}
		<a href="{% url 'add_multimedia_to_player' object.id %}">
			<div class="btn btn-sm btn-info">
				<p>Añadir Multimedia</p>
			</div>	
		</a>
		{% endif %}

		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Imagen</th>
					<th>Nombre</th>
					<th>Tarjeta</th>
					<th>Audio</th>	
					<th>Eliminar de esta actividad</th>						

		    	</tr>
			</thead>
			<tbody>

				{% for son in activities %}
					<tr >
	      				<th scope="row" style="width: 5%;">{{ son.id }}</th>
	      				<td style="width: 10%;"><img src="/{{ son.contenido.multimedia.imagen.url }}" style="width: 100px;"></td>
	      				<td style="width: 10%;">{{ son.contenido.multimedia.nombre }}</td>
	      				<td style="width: 10%;">
	      					{% if son.contenido.codigo %}
	                            {{son.contenido.codigo }}
							{% endif %}
						</td>

	      				<td style="width: 40%;">
	      					{% if son.contenido.multimedia.file %}
	      					<audio controls style="width: 100%;">
								<source src="/{{ son.file.url }}" type="audio/mp3">
								Su navegador no soporta este fichero de audio
							</audio>
							{% endif %}
						</td>

						<td>
							<form action="{% url 'del_multimedia_of_player_function' player_id son.contenido.id_contenido %}" method="post">
								{% csrf_token %}

									<input type="hidden" name="son_id" value="{{ son.contenido.id_contenido }}"/>
									<button type="submit" class="btn btn-default btn-sm">
										<p>✖</p>
									</button>
							</form>
						</td>							
	    			</tr>
				{% endfor %}
			</tbody>
		</table>

		{% if object.id %}
		<a href="{% url 'add_multimedia_to_player' object.id %}">
			<div class="btn btn-sm btn-info">
				<p>Añadir Multimedia</p>
			</div>	
		</a>
		{% endif %}
	</div>
</div>

{% endblock content_wrapper %}
