
{% extends "body.html" %}

{% block content_wrapper %}
<a href="{% url 'settings' %}">
	<div>
        <button type="button" class="btn btn-info btn-circle btn-xl"><i class="glyphicon glyphicon-circle-arrow-left" style="font-size:60px"></i></button>
	</div>
</a>

<ul class="ullist">
  <strong><li><a class="ullista" href="{% url 'home' %}">Home</a></li>
  <li><a class="ullista" href="{% url 'settings' %}">Settings</a></li>
  <li><a class="ullista" href="{% url 'activity_settings' %}">Activity Settings</a></li>
  <li><a class="ullista" href="{% url 'gallery' %}">Content</a></li>
  <li><a class="ullista" href="{% url 'results' %}">Results</a></li>
  <li><a class="ullista" href="{% url 'users_list' %}">Patients</a></li>
  <li><a class="ullista" href="{% url 'treatments_list' %}">Treatments </a></li>
  <li><a class="ullista" href="{% url 'therapies_list' %}">Therapies </a></li>
  <li><a class="ullista" href="{% url 'user' %}">User </a></li>
  <li><a class="ullistactive" href="{% url 'therapists_list' %}">Therapists </a></li>
  <li><a class="ullista" href="{% url 'camera' %}">Cam</a></li>
</strong>
</ul>

<div class="col-sm-12 QRM_box {{QRM_color}}">
	<div class="QRM_box_in">
		<div class="QRM_wrapper_table">

			<table class="table table-hover">
				<thead>
					<tr>
						<th>Username</th>
						<th>Name</th>
						<th>Surname</th>
						<th>Email</th>
			    	</tr>
				</thead>
				<tbody>
					{% for object in thera_list %}
		      				<th scope="row" style="width: 3%; vertical-align: middle;">
                                {{ object.user.username }}
                            </th>

		      				<td style="width: 10%; vertical-align: middle;">
		      					{{ object.name }}  					
		      				</td>
		      				<td style="width: 10%; vertical-align: middle;">
		      					{{ object.surname }}  					
		      				</td>
		      				<td style="width: 10%; vertical-align: middle;">
		      					{{ object.email }}  					
		      				</td>
		    			</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		{% if admin %}
		    <a href="{% url 'create_therapist' %}">
		    	<div class="btn btn-sm btn-default">
		    		<p>Add a Therapist</p>
		    	</div>	
		    </a>
        {% endif %}

{% include "message.html" %}

{% endblock content_wrapper %}
