
{% extends "body.html" %}

{% block content_wrapper %}
<ul class="ullist">
  <strong>
  <li><a class="ullista" href="{% url 'settings' %}">Menú Principal</a></li>
  <li><a class="ullista" href="{% url 'users_list' %}">Pacientes</a></li>
  <li><a class="ullista" href="{% url 'gallery' %}">Contenido</a></li>
  <li><a class="ullista" href="{% url 'therapists_list' %}">Especialistas </a></li>
  <li><a class="ullista" href="{% url 'treatments_list' %}">Tratamientos </a></li>
  <li><a class="ullistactive" href="{% url 'therapies_list' %}">Terapias </a></li>
  <li><a class="ullista" href="{% url 'activity_settings' %}">Actividades</a></li>
  <li><a class="ullista" href="{% url 'results' %}">Resultados</a></li>
  <li><a class="ullista" href="{% url 'summary' %}">Inf. General</a></li>
</strong>
</ul>

<div class="col-sm-12 QRM_box {{QRM_color}}">
		<a href="{% url 'create_therapy' %}">
			<div class="btn btn-sm btn-info">
				<p>Añadir Terapia</p>
			</div>	
		</a>
	<div class="QRM_box_in">
		<div class="QRM_wrapper_table">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Tipo</th>
						<th>Creado</th>
						<th>Descripción</th>
                        <th>Eliminar</th>	
			    	</tr>
				</thead>
				<tbody>

				{% for object in object_list %}

						<tr onclick="document.location = '{% url 'update_therapy' object.id %}';">
		      				<th scope="row" style="width: 15%; vertical-align: middle;">
                                {{ object }}
                            </th>

		      				<td style="width: 15%; vertical-align: middle;">
                                {{ object.tipo }}
		      				</td>

   		              	    <td style="width: 15%; vertical-align: middle;">{% for i in asign_therapy %}
                            {% for j in i.asigna_terapia.terapia.all %}
                                    {% if j == object %}
                                        <strong>{{ i.especialista.nombre }}</strong>
            				    	{% endif %}
        					    {% endfor %}
                            {% endfor %}
                            </td>
		      				<td style="width: 50%; vertical-align: middle;">{{ object.descripcion }}</td>


							<td style=" vertical-align: middle;">
								<form action="{% url 'therapy_delete' object.id %}" method="post">
									{% csrf_token %}

										<input type="hidden" name="object_id" value="{{ object.id  }}"/>
										<button type="submit" class="btn btn-danger btn-sm">
											<p>✖</p>
										</button>

								</form>
							</td>	

		    			</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>

		<a href="{% url 'create_therapy' %}">
			<div class="btn btn-sm btn-info">

				<p>Añadir Terapia</p>
			</div>	
		</a>

	</div>
</div>

<script>
function  toggle_select(id) {
    var object = document.getElementById(id);
 	object.enabled = !object.enabled;
}	

</script>
{% endblock content_wrapper %}
