
{% extends "body.html" %}

{% block content_wrapper %}

<div class="container-fluid">
	<div class="row">
		<h1>{{ object.title }}</h1>
        <h2>{{ object.subtitle }}</h2>

        <a href="{% url 'therapies_list' %}">
	        <div>
	        			<strong><button class="buttonback" style="width: 100%;font-size:x-large;">← Back to Therapies List</button></strong>
			</div>
		</a>

		<div class="jumbotron {{ QRM_color }}">
			<center>
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
				    {{ form2.as_p }}
				    {{ form.as_p }}
				    <input type="submit" value="Confirm" class="btn btn-sm btn-default"/>
				</form>
			</center>
		</div>
		
	</div>
</div>

{% include "message.html" %}

{% endblock content_wrapper %}
