{% extends "body.html" %}

{% block content_wrapper %}

<div style='text-align:center; margin: 0 auto; width: 90%'>

    <h1 class="page-header">
        {% if 'update' in request.get_full_path %}
            Multimedia Edit
        <h2 class="form-signin-heading">Edit the file/files </h2>
        {% else %}
            Upload Files
        <h2 class="form-signin-heading">Select your files to upload</h2>
        {% endif %}
    </h1>

    <div class="jumbotron">

        <form method="post" enctype="multipart/form-data" class="form-signin">
            
            {% csrf_token %}
            <center>
				{% if object.file %}
  					<audio controls style="width: 100%;">
					<source src="/{{ object.file.url }}" type="audio/mp3">
					Your browser does not support the audio element.
					</audio>
					{% endif %}
                <p>{{ form.file }}</p>
                <img src="/{{ object.image.url }}" style="width: 100px;">
                <p>{{ form.image }}</p>
            </center>
            <br>
            <input class="btn btn-default" type="submit" value="Upload" />
        
        </form>
    </div>

</div>

{% include "message.html" %}

{% endblock content_wrapper %}
