{% extends "body.html" %}

{% block content_wrapper %}

<div style='text-align:center; margin: 0 auto; width: 90%'>

    <h1 class="page-header">
        {% if 'update' in request.get_full_path %}
            Editar multimedia
        <h2 class="form-signin-heading">Edita el/los archivo/archivos</h2>
        {% else %}
            Subir archivos
        <h2 class="form-signin-heading">Selecciona los archivos para subir</h2>
        {% endif %}
    </h1>

    <div class="jumbotron {{QRM_color}} ">

        <form method="post" enctype="multipart/form-data" class="form-signin">
            
            {% csrf_token %}
            <center>
				{% if object.file %}
  					<audio controls style="width: 100%;">
					<source src="/{{ object.file.url }}" type="audio/mp3">
					Su buscador no soporta este elemento de audio.
					</audio>
					{% endif %}
                <strong style="font-size:30px">Archivo de audio</strong>
                <p>{{ form.file }}</p>
                <strong style="font-size:30px">Imagen</strong>
                <p>{{ form.imagen }}</p>
            </center>
            <br>
            <input class="btn btn-success" type="submit" value="Subir" />
        
        </form>
    </div>

</div>

{% include "message.html" %}

{% endblock content_wrapper %}
