{% extends "body.html" %}

{% block content_wrapper %}

<div style='text-align:center; margin: 0 auto; width: 90%'>
    <h1 class="page-header">
        {% if 'email' in request.get_full_path %}
            Editar email
        {% elif 'name' in request.get_full_path %}
            Editar Nombre y Apellidos
        {% else %}
            Editar Contraseña
        {% endif %}
    </h1>

    <div class="jumbotron {{QRM_color}}">
        <h2 class="form-signin-heading">Usuario <strong>{{ user.username }}</strong></h2>
        <h2 class="form-signin-heading">Nombre <strong>{{ user.first_name }}</strong></h2>
        <form method="post" enctype="multipart/form-data" class="form-signin">
            
            {% csrf_token %}
            <center>
                <p>{{ form.as_p }}</p>
            </center>

            <input class="btn btn-success" type="submit" value="Confirmar los cambios" />
        
        </form>
    </div>

</div>

{% endblock content_wrapper %}
